# Digital Business Card :)
alias adi='npx adisakshya'

# Easier naviagtion
alias ..="cd .."
alias .2="cd ../.."
alias .3="cd ../../.."
alias .4="cd ../../../.."
alias h="cd ~"

# List all filesin long format
alias l="ls -lhF"

# List all files in long format, including dot files
alias la="ls -lahF"

# List only directories
alias lsd="ls -lhF | grep '^d'"

# Stopwatch
alias timer='echo "Timer started. Stop with Ctrl-D" && date && time cat && date'

# Public IP
alias myip='curl ipinfo.io/ip'

# Simple HTTP Server
alias httpserve='python -m http.server'

# Weather
alias weather='curl wttr.in'

# Remote playground
alias playground='python -m webbrowser -t "https://colab.research.google.com/github/adisakshya/playground/blob/master/remote/playground.ipynb"'

# Google Docs
alias doc='python -m webbrowser -t "https://doc.new"'

# Google Sheets
alias sheet='python -m webbrowser -t "https://sheet.new"'

# Google Slides
alias slide='python -m webbrowser -t "https://slide.new"'

# Jekyll
alias bi='bundle install'
alias bb='bundle exec jekyll build'
alias bs='bundle exec jekyll serve'

# Jupyter
alias jl='py -m jupyterlab'
alias jn='py -m notebook'

# Extract .tar.gz
alias extract='tar -xvzf'

# Expose port using localtunnel
alias expose='function expose_port(){ nohup lt --port &1 > logs/$2.out 2> logs/$2.err & };expose_port && cat $2.out'

# Remote installer
alias ins='function install(){ make $@ -C ~/.dotfiles/remote; };install'